/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma"; 

body {
font-family: 'Josefin Sans';
font-weight: 300;
}

a {
font-size: 36px;
color: #0077a2;
}

a.navbar-item {
font-size: 20px;
}

h1.title {
font-size: 84px;
font-weight: 200;
}

div.content {
color: #121212;
text-indent: 7px;
font-size: 28px;
font-weight: 400;
}

.instructions {
color: #121212;
font-size: 26px;
text-indent: 15px;
}
